name: Deploy to GitHub Pages
on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Inject Secrets
        uses: actions/github-script@v6
        with:
          script: |
            const fs = require('fs');
            let html = fs.readFileSync('index.html', 'utf8');
            html = html.replace(/FIREBASE_API_KEY_PLACEHOLDER/g, process.env.FB_KEY);
            html = html.replace(/GROQ_API_KEY_PLACEHOLDER/g, process.env.GR_KEY);
            fs.writeFileSync('index.html', html);
        env:
          FB_KEY: ${{ secrets.FIREBASE_KEY }}
          GR_KEY: ${{ secrets.MY_GROQ_KEY }}

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
