name: Deploy to GitHub Pages
on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Inject Secrets
        run: |
          sed -i 's|FIREBASE_API_KEY_PLACEHOLDER|${{ secrets.FIREBASE_KEY }}|g' index.html
          sed -i 's|GROQ_API_KEY_PLACEHOLDER|${{ secrets.MY_GROQ_KEY }}|g' index.html

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
